<div class='container'>
    <div class="row">
        <div class="span4">
         <dl>
             <dt> Comment:</dt>
             <dd> {{description}}</dd>
             <dt> By:</dt>
             <dd> {{replier}}</dd>
          </dl>
        </div>
    </div>
</div>

