<div class='container'>
  <h1>It's Tourny Time !!</h1>
  <div class='navbar '>
      <div class="container">
          <ul class="nav nav-pills pull-right">
            <% if user_signed_in? %>
              <p class="navbar-text">Signed in as: <%= current_user.email %></p>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
          </ul>
      </div>
    </div>
      <div class="row">
        <div class="span6">
        <p> somthing describing the tourny madness app </p>
        </div>

         <div class="span6">
         <p> somthing maybe a picture</p>

         </div>
      </div>
</div>
