<div class='container'>

  <h1>{{jersey_name}}</h1>
  <h1>Captain: {{captain.name}}</h1>
  <ul>
    {{#each player in players}}
       <li>  Players: </li>
       <li>Player {{id}}: {{#link-to 'player' player}}{{player.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>
