<h1>This is Tourny Madness</h1>
<nav>
  {{#link-to 'users'}}Users{{/link-to}}
  {{#link-to 'players'}}Players{{/link-to}}
  {{#link-to 'tournaments'}}Tournaments{{/link-to}}
  {{#link-to 'games'}}Games{{/link-to}}
  {{#link-to 'teams'}}Teams{{/link-to}}
</nav>
