<div class='container'>
      <div class="row">
        <div class="span6">
        <p> somthing describing the tourny madness app </p>
        </div>

         <div class="span6">
         <p> somthing maybe a picture</p>

         </div>
      </div>
</div>
