<h1>This is Tourny Madness</h1>
<nav>
  {{#link-to 'players'}}Players{{/link-to}}
  {{#link-to 'tournaments'}}Tournaments{{/link-to}}
  {{#link-to 'games'}}Games{{/link-to}}
  {{#link-to 'teams'}}Teams{{/link-to}}
</nav>

<a href="/users/sign_in">Sign In</a>
<a href="/users/sign_up">Sign Up</a>
