<div class='container'>
    <div class="row">
        <div class="span3">
          {{#link-to 'players.new'}} Create Player {{/link-to}}
          <table class='table'>
            {{#each}}
            <tr>
             <td> Player {{id}}: {{#link-to 'player' this }}{{name}}{{/link-to}}</td>
            </tr>
            {{/each}}
           </table>
        </div>
      <div class="span9">
          {{outlet}}
      </div>
    </div>
</div>
