<div class='container'>
    <div class="row">
        <div class="span4">
          <table class='table'>
            {{#each}}
            <tr><td>
              {{#link-to 'team' this}}{{jersey_name}}{{/link-to}}
            <tr><td>
            {{/each}}
           </table>
        </div>
      <div class="span9">
        {{outlet}}
      </div>
  </div>
</div>
