doctype html
html
head
  title TournyMadness
  = stylesheet_link_tag "application" 
  = csrf_meta_tags 

body
.container
  #flash_notice.row
      - if flash[:notice] 
        .alert.alert-info
          = flash[:notice] 
          a.close href="" x
      - elsif flash[:error] 
        .alert.alert-warning
          = flash[:error] 
          a.close href="" x
      - elsif flash[:success] 
        .alert.alert-success
          = flash[:success] 
          a.close href="" x

.container
  = yield 
