<!DOCTYPE html>
<html>
<head>
  <title>TournyMadness</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "tournytime" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<link href='http://fonts.googleapis.com/css?family=Candal|Bangers' rel='stylesheet' type='text/css'>
</body>
</html>
